header{
    color: white;
    background-color: black;
        
}
body{
    color: white;
    background-color: black;
}
.cabeçalho{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.botao{
    font-size: 30px;
    background-color: white;
}
